---
layout: default
---
<section class="project-banner" style="background-image:url({{ page.banner-image }})">
  <h1>
    <div class="subtitle">
      <!-- CASE STUDY -->
    </div>
    {{ page.name }}
  </h1>
  <div class="project-logo">
    <img src="{{ page.logo }}" />
  </div>
</section>
<section class="project-title">
  <div class="snippet">
    {{ page.snippet }}
  </div>
</section>
<section class="project-testimonial grid">
  <div class="col-3">
    <img src="{{ page.testimonial-photo }}" class="testimonial-photo" />
  </div>
  <div class="col-9">
    <q>{{ page.testimonial }}</q>
    <div class="testimonial-by">{{ page.testimonial-by }}</div>
  </div>
</section>
<section class="project-description">
  <h2>PROJECT</h2>
  <p>
    {{ content }}
  </p>
</section>
